li{
   list-style-type: none;
   background-color: burlywood;
   margin-bottom: 25px;
}
.background{
   background-color: burlywood;
   position: relative;
   text-align: center;

}

.line{
   border-top: solid;
   border-color: rgb(0, 0, 0);
   border-style: dotted;
   border-radius: 50%;
   width: 50%;
   margin: 15px auto;
   height: 10px;
}

.float{
float: left;
}

.textLighter{
   color: green;
}
/* .experience{
   color: yellow;
 */

  /* background-color: bisque; */
